Django==3.1.13
jsonpath==0.82
APScheduler==3.6.3
DingtalkChatbot==1.5.0
pytz==2019.3
PyMySQL==0.9.3
pyecharts==1.7.1
requests==2.24.0
django_redis==4.11.0
dwebsocket==0.5.12
pipreqs==0.4.10
djangorestframework==3.11.0
locustio==0.14.6
