#headers > li input {
    height: 36px;
    line-height: 36px;
    width: 440px;
}

#formdatas > li input {
    height: 36px;
    line-height: 36px;
    width: 440px;
}

.myinput {
    line-height: 1.3;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    border-color: #e6e6e6;
    padding-left: 10px;
}

.mybtn {
    text-align: center;
    padding: 0px;
}

#method > div > div > input {
    background-color: aliceblue;
}
.layui-collapse{
    border-width:0px;
    border-radius:0px;
}
.layui-colla-title{
    background-color: #ffffff;
}