#layui-laypage-2 {
    left: 0px;
}

.layui-form-item {
    margin-bottom: 10px;
}

.layui-bg-black {
    background-color: #393d49 !important;
}

.layui-nav {
    background-color: #393d49;
}

.kit-side-fold {
    font-size: 18px;
    text-align: center;
}

#sousuo {
    position: fixed;
    right: 15px;
    top: 25px;
}

.layui-laypage .layui-laypage-curr .layui-laypage-em {
    #background-color: #FFB800;
}

.layui-layout-admin .layui-header {
    background-color: #23262E;
}

.layui-layer-input {
    padding: 20px;
}

.layui-laypage a, .layui-laypage span {
    /*color: #fff;*/
}

.soul-bottom-contion {
    border-top: solid 0px #fff;
}

#headers > li input {
    height: 36px;
    line-height: 36px;
    width: 440px;
}

#formdatas > li input {
    height: 36px;
    line-height: 36px;
    width: 440px;
}

.myinput {
    line-height: 1.3;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    border-color: #e6e6e6;
    padding-left: 10px;
}

.mybtn {
    text-align: center;
    padding: 0px;
}

#method > div > div > input {
    background-color: aliceblue;
}

.layui-header {
    height: 50px;
}

.layui-layout-admin .layui-side {
    top: 50px;
}

.layui-layout-admin .layui-body {
    top: 48px;
}

.layui-layout-admin .layui-logo {
    line-height: 50px;
}

.layui-nav .layui-nav-item {
    line-height: 50px;
}

.layui-table-tool {
    background-color: rgba(0, 0, 0, 0.15);
}

.layui-body {
    left: 0px;
}

.layui-elem-quote {
    margin-bottom: 0px;
    padding: 10px;
    background: #ffffff;
    margin-right: -70px;

}

/*.mybg{*/
/*    !*display: flex;*!*/
/*    background-image:linear-gradient(to left bottom, hsl(79, 100%, 85%) 0%,hsl(220, 100%, 85%) 100%);*/
/*}*/

.layui-nav-itemed > .layui-nav-child {
    max-height: 300px !important;
    overflow-y: scroll !important;
}
.mydepned{
    display: none;
}

.my_crumb{
    height: 25px;
}
.fa-trash-o:hover{
    color: red;
}
/*.layui-textarea{*/
/*    min-height:150px;*/
/*}*/
.my_send{
    left: 30%;
}
#my_url{
    width: 90%;
}
.my_textarea_body{
    width: 90%;
    min-height:280px;
}
.my_submit{
    position: fixed;
    bottom: 20px;
    width: 35%;
    left: 62%;
}

.my_search_input{
    float: left;
    margin-right: 20px;
}
.layui-field-box{
    padding: 20px 20px;
}
.my_textarea{
    width: 90%;
    min-height:150px;
}

.my_hide{
    overflow: hidden;
}
.layui-breadcrumb{
    font-size: 30px
}
.demoTable>.layui-table-view{
    margin-top: 30px;
}
.layui-breadcrumb a{
    font-size: 17px;
}