.layui-table-page .layui-laypage {
    position: fixed;
    right: 30px;
}

/*.treetable {*/
/*    height: 100%;*/
/*    display: inline-block;*/
/*}*/

.mytable {
    float: right;
    width: 80%;
    margin-right: 20px
}

body{
    /*background-image:linear-gradient(to left bottom, hsl(79, 100%, 85%) 0%,hsl(220, 100%, 85%) 100%);*/
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}


#test{
    margin-left: 20px;
    margin-top: 20px;
    /*min-height: 600px;*/
    float: left;
    border-right-width: initial;
    width: 15%;
    /*border: 1px solid silver;*/
}
.return{
    margin-left: 20px;
    margin-top: 20px;
}

.report{
    float: right;
}
.highcharts-credits{
    display: none;
}
.layui-tree{
    height: 800px;
    background-color: #F2F2F2;
    overflow: visible;
    border-radius: 10px;
}
.report_table{
    width: 400px;
    height: 200px;
    float:left;
    margin-left: 3%;
    margin-top: -20px;
}