<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">

    <link rel="icon" href="./../static/images/favicon%202.ico">
    <link rel="stylesheet" href="./../static/layui2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" type="text/css" href="./../static/css/main.css">
    <link rel="stylesheet" href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="./../static/css/search.css">

    <script src="https://code.highcharts.com.cn/highcharts/highcharts.js"></script>
    <script src="https://code.highcharts.com.cn/highcharts/highcharts-more.js"></script>
    <script src="https://code.highcharts.com.cn/highcharts/modules/exporting.js"></script>
    <script src="https://img.hcharts.cn/highcharts-plugins/highcharts-zh_CN.js"></script>
    <script src="https://code.highcharts.com.cn/highcharts/themes/grid-light.js"></script>
    <script src="./../static/jquery-3.4.1/jquery-3.4.1.min.js" type="text/javascript"></script>
    <script src="../static/layui2.5.5/layui.js"></script>

</head>

<body>

<!-- header-->
<div>
    <div class="header">
        <span class="bubbling">首页</span>
    </div>
    <div class="my-card" style="padding: 20px; background-color: #F2F2F2;">
              <div class="layui-row layui-col-space15">
                <div class="layui-col-md3">
                  <div class="layui-card">
                    <div class="layui-card-header">
                        接口数
                        <span class="card-fa fa fa-list-ol"></span>
                    </div>
                    <div class="layui-card-body fa-list-ol">
                      {{ case_coount }}个
                    </div>
                  </div>
                </div>
                <div class="layui-col-md3">
                  <div class="layui-card">
                    <div class="layui-card-header">用例数<span class="card-fa fa fa-bug"></span></div>
                    <div class="layui-card-body fa-bug">
                      {{ case_set_coount }}个
                    </div>
                  </div>
                </div>
                <div class="layui-col-md3">
                  <div class="layui-card">
                    <div class="layui-card-header">用例集数<span class="card-fa fa fa-sliders"></span></div>
                    <div class="layui-card-body fa-sliders">
                      {{ interface_coount }}个
                    </div>
                  </div>
                </div>
                <div class="layui-col-md3">
                  <div class="layui-card">
                    <div class="layui-card-header">任务数<span class="card-fa fa fa-tasks"></span></div>
                    <div class="layui-card-body fa-tasks">
                      {{ plan_coount }}个
                    </div>
                  </div>
                </div>
              </div>
            </div>
    <div id="wrapper">
        <button class="layui-btn layui-btn-sm" id="plain">普通</button>
        <button class="layui-btn layui-btn-sm" id="inverted">反转</button>
        <button class="layui-btn layui-btn-sm" id="polar">极地图</button>
    </div>
    <div id="container"></div>

</div>
<!-- end-header -->


<div class="footer">
    <p class="landIn">The automatic test platform is convenient for everyone to use</p>
</div>




<script>
    //底部动画
    "use strict";
    var landInTexts = document.querySelectorAll(".landIn");
    landInTexts.forEach(function (landInText) {
        var letters = landInText.textContent.split("");
        landInText.textContent = "";
        letters.forEach(function (letter, i) {
            var span = document.createElement("span");
            span.textContent = letter;
            span.style.animationDelay = i * 0.05 + "s";
            landInText.append(span);
        });
    });
</script>

<script>
    "use strict";
    // For a better performance, use requestAnimationFrame instead of setInterval
    // https://css-tricks.com/snippets/javascript/replacements-setinterval-using-requestanimationframe/
    var requestInterval = function (fn, delay) {
        var start = new Date().getTime();
        var handle = {value: 0};
        var loop = function () {
            handle.value = requestAnimationFrame(loop);
            var current = new Date().getTime();
            var delta = current - start;
            if (delta >= delay) {
                fn();
                start = new Date().getTime();
            }
        };
        handle.value = requestAnimationFrame(loop);
        return handle;
    };
    var sample = function (arr) {
        return arr[Math.floor(Math.random() * arr.length)];
    };
    var bubbleSizes = [3, 6, 9, 12];
    var bubbleText = document.querySelector(".bubbling");
    var bubblePositions = Array.from(Array(bubbleText.offsetWidth).keys());
    requestInterval(function () {
        var bubbleSize = sample(bubbleSizes);
        var bubblePosition = sample(bubblePositions);
        var bubble = document.createElement("div");
        bubble.className = "bubble";
        bubble.style.width = bubbleSize + "px";
        bubble.style.height = bubbleSize + "px";
        bubble.style.left = bubblePosition + "px";
        bubbleText.append(bubble);
        var bubbleAnimation = bubble.animate([{bottom: "10px", opacity: 1}, {bottom: "180%", opacity: 0.6}], {
            fill: "forwards",
            duration: 3000
        });
        bubbleAnimation.onfinish = function () {
            return bubble.remove();
        };
    }, 300);
</script>

<script>

$.ajax({
        url: "/api/v1/report_detail/echarts/",
        type: 'GET',
        data: {
            "id": "home"
        },
        //请求前的处理,加载loading
        success: function (data) {
            console.log(data);
            var chart = Highcharts.chart('container', {
                title: {
                    text: '接口自动化最近十次执行结果'
                },
                subtitle: {
                    text: '纵向柱状图'
                },
                xAxis: {
                    categories: ['第一次', '第二次', '第三次', '第四次', '第五次', '第六次', '第七次', '第八次', '第九次', '第十次']
                },
                series: [{
                    type: 'column',
                    colorByPoint: true,
                    data: data,
                    showInLegend: false
                }]
            });
            // 给 wrapper 添加点击事件
            Highcharts.addEvent(document.getElementById('wrapper'), 'click', function(e) {
                var target = e.target,
                    button = null;
                if(target.tagName === 'BUTTON') { // 判断点的是否是 button
                    button = target.id;
                    switch(button) {
                        case 'plain':
                            chart.update({
                                chart: {
                                    inverted: false,
                                    polar: false
                                },
                                subtitle: {
                                    text: '纵向柱状图'
                                }
                            });
                            break;
                        case 'inverted':
                            chart.update({
                                chart: {
                                    inverted: true,
                                    polar: false
                                },
                                subtitle: {
                                    text: '横向条形图'
                                }
                            });
                            break;
                        case 'polar':
                            chart.update({
                                chart: {
                                    inverted: false,
                                    polar: true
                                },
                                subtitle: {
                                    text: '极地图'
                                }
                            });
                            break;
                    }
                }
            });

        },
        error: function (data) {
            console.log(data);
            alert("出错了，请查看控制台！")

        }
    });

</script>

</body>

</html>