<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Testapi-流程测试</title>
    {% load static %}
    <link rel="icon" href="{% static 'images/favicon%202.ico' %}">

    <link rel="stylesheet" href="{% static 'layui2.5.5/css/layui.css' %}">
    <link rel="stylesheet" href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/soulTable.css' %}">
    <link rel="stylesheet" href="{% static 'css/interfaceSet.css' %}">

    <script src="{% static 'jquery-3.4.1/jquery-3.4.1.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'layui2.5.5/layui.js' %}"></script>
    <script>
        var parentId = '{{ parentId }}';
    </script>
    <script src="{% static 'js/interfaceSet.js' %}"></script>


</head>
<body class="layui-layout-body">


<div style="display: none;">

    <div class="layui-row" id="interface_debug">
        <div class="layui-col-md11">
            <form class="layui-form" lay-filter="interface_debug">

                <div class="layui-form-item" style="margin-top: 20px;">
                    <label class="layui-form-label">Request</label>
                    <div class="layui-inline" id="method">
                        <div class="layui-input-inline">
                            <select name="method">
                                <option>GET</option>
                                <option>POST</option>
                                <option>DELETE</option>
                                <option>PUT</option>
                                <option>FILE</option>
                                <option>PATCH</option>
                                <option>OPITIONS</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <button class="layui-btn my_send" lay-submit lay-filter="interface_debug">Send</button>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">URL</label>
                    <div class="layui-input-block">
                        <input type="text" id="my_url" name="url" class="layui-input" placeholder="请输入请求接口路径">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">Headers</label>
                    <div class="layui-input-block">
                        <textarea name="headers" id="headers" placeholder="仅支持输入JSON格式的内容数据"
                                  class="form-control layui-textarea my_textarea"></textarea>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">Params</label>
                    <div class="layui-input-block">
                        <textarea name="params" placeholder="仅支持输入JSON格式的内容数据"
                                  class="layui-textarea my_textarea"></textarea>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">Body</label>
                    <div class="layui-input-block">
                        <textarea name="body" placeholder="仅支持输入JSON格式的内容数据"
                                  class="layui-textarea my_textarea_body"></textarea>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="layui-row" id="response_info">

        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
            <legend>
                <span>状态码：</span>
                <span id="status_code"></span>
            </legend>
        </fieldset>

        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
            <legend>
                <span>响应耗时：</span>
                <span id="duration"></span>
                <span>毫秒</span>
            </legend>
        </fieldset>

        <fieldset class="layui-elem-field">
            <legend>响应头</legend>
            <div class="layui-field-box">
                <textarea id="response_headers" class="layui-textarea my_textarea_body"></textarea>
            </div>
        </fieldset>

        <fieldset class="layui-elem-field">
            <legend>响应体</legend>
            <div class="layui-field-box">
                <textarea id="response_body" class="layui-textarea my_textarea_body"></textarea>
            </div>
        </fieldset>
    </div>
    <!--创建用例-->
    <div class="layui-row" id="add_update_case">
        <div class="layui-col-md11">
            <form class="layui-form" lay-filter="add_update_case">

                <div class="layui-form-item" style="margin-top: 20px;">
                    {#                    <label class="layui-form-label">系统角色</label>#}
                    {#                    <div class="layui-input-block">#}
                    {#                        <select name="identity" id="identity" lay-verify="required">#}
                    {#                            <option value=""></option>#}
                    {#                        </select>#}
                    {#                    </div>#}
                    {#                </div>#}
                    <label class="layui-form-label">负责人</label>
                    <div class="layui-input-block">
                        <select name="head" id="head" lay-verify="required">
                            <option value=""></option>
                        </select>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">用例名称</label>
                    <div class="layui-input-block">
                        <input type="text" name="casename" required lay-verify="required"
                               placeholder="请输入用例名称"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">请求地址</label>
                    <div class="layui-input-block">
                        <input type="text" name="url" required lay-verify="required" placeholder="请输入请求地址"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">请求方式</label>
                    <div class="layui-input-block">
                        <input type="radio" name="method" value="get" title="GET" checked>
                        <input type="radio" name="method" value="post" title="POST">
                        <input type="radio" name="method" value="put" title="PUT">
                        <input type="radio" name="method" value="delete" title="Delete">
                        <input type="radio" name="method" value="file" title="File">
                    </div>
                </div>

                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">Query Params</label>
                    <div class="layui-input-block">
                        <textarea name="params" placeholder="请输入内容" class="layui-textarea"></textarea>
                    </div>
                </div>

                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">Form Data</label>
                    <div class="layui-input-block">
                                <textarea name="body" id="body" placeholder="请输入内容"
                                          class="layui-textarea"></textarea>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">存有依赖</label>
                    <div class="layui-input-block">
                        <input type="radio" lay-filter="depend" name="depend" value="exist" title="存在">
                        <input type="radio" lay-filter="depend" checked name="depend" value="unexist" title="不存在">
                    </div>
                </div>


                <div class="layui-form-item mydepend" style="display: none;">
                    <label class="layui-form-label">替换区域</label>
                    <div class="layui-input-block">
                        <input type="checkbox" name="params" value="params" title="params">
                        <input type="checkbox" name="body" value="body" title="body">
                    </div>
                </div>


                <div class="layui-form-item mydepend" style="display: none;">
                    <label class="layui-form-label">依赖的ID</label>
                    <div class="layui-input-block">
                        <input type="text" name="dependid" placeholder="无依赖不必填" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item mydepend" style="display: none;">
                    <label class="layui-form-label">依赖的key</label>
                    <div class="layui-input-block">
                        <input type="text" name="dependkey" placeholder="无依赖不必填" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item mydepend" style="display: none;">
                    <label class="layui-form-label">替换的key</label>
                    <div class="layui-input-block">
                        <input type="text" name="replacekey" placeholder="无依赖不必填" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="add_update_case"
                                style="float: right;">立即提交
                        </button>
                        <button type="reset" class="layui-btn layui-btn-primary"
                                style="float: right;margin-right: 10px;">
                            重置
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!--添加编辑用户信息-->
    <div class="layui-row" id="add_update_role">
        <div class="layui-col-md11">
            <form class="layui-form" lay-filter="add_update_role">

                <div class="layui-form-item" style="margin-top: 20px;">
                    <label class="layui-form-label">系统</label>
                    <div class="layui-input-block">
                        <input type="text" id="system" name="system" required lay-verify="required"
                               autocomplete="off" class="layui-input" value="{{ system }}">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">角色</label>
                    <div class="layui-input-block">
                        <input type="text" id="role" name="role" required lay-verify="required"
                               placeholder="请输入角色名" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">账号</label>
                    <div class="layui-input-block">
                        <input type="text" id="username" name="username" required lay-verify="required"
                               placeholder="请输入账号" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">密码</label>
                    <div class="layui-input-block">
                        <input type="text" id="password" name="password" required lay-verify="required"
                               placeholder="请输入密码" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">令牌</label>
                    <div class="layui-input-block">
                        <input type="text" id="token" name="token"
                               placeholder="请输入令牌,可以不填" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">IP</label>
                    <div class="layui-input-block">
                        <input type="text" id="url" name="url" required lay-verify="required"
                               placeholder="请输入IP地址" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn layui-btn-warm" lay-submit lay-filter="add_update_role"
                                style="float: right;margin-left:5px;">立即提交
                        </button>
                        <button type="reset" style="float: right;" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!--导入测试用例-->
    <div class="layui-row" id="import_case">
        <div class="layui-col-md11">
            <form class="layui-form" enctype="multipart/form-data" action="/publicapi/import_case/" method="post">

                <div class="layui-form-item" style="margin-top: 20px;">
                    <div class="layui-input-block">
                        <input type="file" name="file" id="filename">
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="import_case" style="float: right;">上传</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!--设置定时任务-->
    <div class="layui-row" id="timing_task">
        <div class="layui-col-md11">
            <form class="layui-form" lay-filter="example">

                {#				<div class="layui-form-item" style="margin-top: 20px;">#}
                {#					<label class="layui-form-label">开始时间</label>#}
                {#					<div class="layui-input-block" style="width: 80%">#}
                {#						<input type="text" name="date" id="test5" placeholder="HH:mm:ss" class="layui-input test-item">#}
                {#					</div>#}
                {#				</div>#}

                <div class="layui-form-item" style="margin-top: 20px;">
                    <label class="layui-form-label">结束时间</label>
                    <div class="layui-input-block">
                        <input type="text" name="date1" class="layui-input test-item" id="test5" placeholder="HH:mm:ss">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">时间间隔</label>
                    <div class="layui-input-block">
                        <input type="text" name="date2" class="layui-input test-item shijian" id="test5"
                               placeholder="开始运行时间等于现在时间加上时间间隔">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">运行的ID</label>
                    <div class="layui-input-block">
                        <input type="text" name="caseid" lay-verify="title" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item" style="margin-top: 20px;">
                    <div class="layui-input-block">
                        <button class="layui-btn" id="time" lay-submit lay-filter="example"
                                style="float: right;">确定
                        </button>
                        <button type="reset" class="layui-btn layui-btn-primary"
                                style="float: right;margin-right: 10px;">
                            重置
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!--进度条-->
    <div class="layui-row" id="progress_bar">
        <div class="layui-col-md11">
            <blockquote class="layui-elem-quote">
                <span>接口进度 (执行接口数/需要执行的接口总数)：</span>
                <div class="layui-progress layui-progress-big" lay-showpercent="true" lay-filter="demo">
                    <div class="layui-progress-bar" lay-percent="0%">
                    </div>
                </div>
            </blockquote>
        </div>
    </div>

    <!--编辑替换位置-->
    <div class="layui-row" id="replace_position">
        <div class="layui-col-md11">
            <form class="layui-form" lay-filter="replace_position">

                <div class="layui-form-item" style="margin-top: 20px;">
                    <label class="layui-form-label">替换区域</label>
                    <div class="layui-input-block">
                        <input type="checkbox" name="params" value="params" title="Query区域">
                        <input type="checkbox" name="body" value="body" title="Body区域">
                    </div>
                </div>

                <div class="layui-form-item" style="margin-top: 30px;">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="replace_position"
                                style="float:right;background-color: yellowgreen;">确定
                        </button>
                    </div>
                </div>
            </form>
            +
        </div>
    </div>

</div>
<!--主题内容-table-->

<div id="layuibody" class="layui-body mybg" style="margin-bottom: -70px;">
    <div style="padding: 15px;">
        <!--  lay-separator="-"-->
        <div class="demoTable">
            <div class="my_crumb">
                <span class="layui-breadcrumb" lay-separator="—">
                    <a href="/interface_manager" style="color: #5FB878!important;">接口管理</a>
                    <a>{{ puisne_module }}</a>
                </span>
            </div>
            <div id="sousuo">
                <div class="layui-inline" style="margin-top: -7px;">
                    <input class="layui-input" name="id" id="demoReload" autocomplete="off" placeholder="请输入接口名称"
                           value="错误接口查询"
                           style="width:200px;color: #999999;">
                </div>
                <button class="layui-btn layui-icon layui-icon-search" data-type="reload"
                        style="margin-top: -7px;">搜索
                </button>
            </div>
            <table class="layui-hide" id="test" lay-filter="test"></table>
        </div>

    </div>
</div>


<!--role表头按钮-->
<script type="text/html" id="roletoolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="add_role">添加角色</button>
        <button class="layui-btn layui-btn-sm" lay-event="get_token">获取令牌</button>
    </div>
</script>
<!--role表行内按钮-->
<script type="text/html" id="rolebarDemo">
    <a class="layui-icon layui-icon-tips" style="color:#797979;font-size: 20px;padding:0 2px;vertical-align:middle;font-weight: lighter;" lay-event="update_role"></a>
    <a class="fa fa-trash-o" lay-event="del_role" style="color: #797979;font-size: 20px;padding:0 2px;vertical-align:middle;font-weight: lighter;"></a>
</script>

<script type="text/html" id="resultDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="dingding">钉钉通知</button>
    </div>
</script>
<!--表头按钮-->
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button type="button" onclick="get_user_info()" class="layui-btn layui-btn-sm">用户信息</button>
        <button type="button" onclick="add_case()" class="layui-btn layui-btn-sm">添加接口</button>
        <button class="layui-btn layui-btn-sm" lay-event="batch_delete">批量删除</button>
        <button id="Dingding" class="layui-btn layui-btn-sm" lay-event="ding_ding">钉钉通知</button>
        <button id="Runcase" class="layui-btn layui-btn-sm" lay-event="run_case">执行接口</button>
        <button class="layui-btn layui-btn-sm" lay-event="export_report">生成报表</button>
    </div>
</script>
<!--行内按钮-->
<script type="text/html" id="barDemo">
    <a class="fa fa-pencil-square-o"
       style="color:#797979;font-size: 20px;padding:0 2px;margin-top:1px;vertical-align:middle;font-weight: lighter;"
       lay-event="update_case"></a>

    <a class="fa fa-trash-o" lay-event="del_case"
       style="color: #797979;font-size: 20px;padding:0 2px;vertical-align:middle;font-weight: lighter;"></a>

    <a class="fa fa-bug" lay-event="interface_debug"
       style="color: #5FB878;font-size: 20px;padding:0 2px;margin-top:1px;vertical-align:middle;font-weight: lighter;"></a>
</script>

<!--用例名字超链接模板-->
<script type="text/html" id="casenameTpl">
    <a href="/detail?processid={% verbatim %}{{d.id}}{% endverbatim %}" class="layui-table-link" target="_blank">
        {% verbatim %}{{d.interface_name}}{% endverbatim %}
    </a>
</script>

</body>
</html>