<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Testapi-流程测试</title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'layui2.5.5/css/layui.css' %}">
    <link rel="stylesheet" href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/soulTable.css' %}">
    <link rel="stylesheet" href="{% static 'css/interfaceCase.css' %}">

    <script src="{% static 'jquery-3.4.1/jquery-3.4.1.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'layui2.5.5/layui.js' %}"></script>
    <script>
        var parentId = '{{ parentId }}';
    </script>
    <script src="{% static 'js/interfaceCase.js' %}"></script>


</head>
<body class="layui-layout-body">

<div style="display: none;">
    <!--创建+编辑-接口-->
    <div class="layui-row" id="add_update_case">
        <div class="layui-col-md11">
            <form class="layui-form" lay-filter="add_update_case">

                <div class="layui-form-item" style="margin-top: 20px;">
                    <label class="layui-form-label">用例名称</label>
                    <div class="layui-input-block">
                        <input type="text" name="interface_case_name" required lay-verify="required"
                               placeholder="请输入用例名称"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">用例描述</label>
                    <div class="layui-input-block">
                        <textarea  name="description" placeholder="请输入用例描述" class="layui-textarea"></textarea>
                    </div>
                </div>


                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="add_update_case"
                                style="float: right;">立即提交
                        </button>
                        <button type="reset" class="layui-btn layui-btn-primary"
                                style="float: right;margin-right: 10px;">
                            重置
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!--批量修改-->
    <div class="layui-row" id="bacth_update">
        <div class="layui-col-md11">
            <form class="layui-form" lay-filter="bacth_update">

                <div class="layui-form-item" style="margin-top: 30px;">
                    <label class="layui-form-label">替换字段</label>
                    <div class="layui-input-block">
                        <select name="key" lay-filter="key">
                            <option>headers</option>
                            <option>ip</option>
                        </select>
                    </div>
                </div>

                <div class="layui-form-item my_token">
                    <label class="layui-form-label">admin路径</label>
                    <div class="layui-input-block">
                        <input type="text" name="admin_url"
                               placeholder=""
                               autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item layui-form-text my_token">
                    <label class="layui-form-label">账号</label>
                    <div class="layui-input-block">
                        <input  name="username" placeholder="" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item layui-form-text my_token">
                    <label class="layui-form-label">密码</label>
                    <div class="layui-input-block">
                        <input  name="password" placeholder="" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button type="button" id="get_token" class="layui-btn my_token" lay-submit lay-filter="get_token">获取Token</button>
                    </div>
                </div>

                <div class="layui-form-item my_value">
                    <label class="layui-form-label">替换内容</label>
                    <div class="layui-input-block">
                        <textarea  name="value" class="layui-textarea" style="min-height:220px;"></textarea>
                    </div>
                </div>


                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button type="button" class="layui-btn layui-btn-fluid" lay-submit lay-filter="bacth_update">确定</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
    <!--进度条-->
    <div class="layui-row" id="jindutiao" style="display: none;overflow: hidden;">
        <div class="layui-col-md11">

            <fieldset class="layui-elem-field layui-field-title" style="margin: 10px 0 10px;">
                <legend>
                    <span>正在执行的接口：</span>
{#                    <span id="interface_execute_now"></span>#}
                </legend>
            </fieldset>

            <blockquote class="layui-elem-quote layui-quote-nm interface_name" style="margin-left: 20px;width: inherit;">
                当前无接口运行
            </blockquote>

            <div class="layui-progress layui-progress-big" lay-showpercent="true" lay-filter="demo" style="margin-top: 20px;margin-left: 20px;">
                <div class="layui-progress-bar" lay-percent="0%"></div>
            </div>



        </div>
    </div>

</div>
<!--主题内容-table-->

<div id="layuibody" class="layui-body mybg" style="margin-bottom: -70px;">
    <div style="padding: 15px;">
        <!--  lay-separator="-"-->
        <div class="demoTable">
            <div id="sousuo">
                <div class="layui-inline" style="margin-top: -7px;">
                    <input class="layui-input" name="id" id="demoReload" autocomplete="off" placeholder="请输入接口名称"
                           style="width:280px;color: #999999;">
                </div>
                <button class="layui-btn layui-icon layui-icon-search" data-type="reload"
                        style="margin-top: -7px;">搜索
                </button>
            </div>
            <a id="interface_case_data" href="" style="display: none;"></a>
            <table class="layui-hide" id="test" lay-filter="test"></table>
        </div>

    </div>
</div>


<!--表头按钮-->
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button type="button" onclick="add_case()" class="layui-btn layui-btn-sm">添加用例</button>
        <button class="layui-btn layui-btn-sm" lay-event="export_interface">导出用例</button>
        <button class="layui-btn layui-btn-sm" lay-event="interface_case_run">执行用例</button>
        <button class="layui-btn layui-btn-sm" lay-event="batch_delete">批量删除</button>
        <button class="layui-btn layui-btn-sm" lay-event="bacth_update">批量修改</button>
    </div>
</script>
<!--行内按钮-->
<script type="text/html" id="barDemo">

    <a class="fa fa-trash-o" lay-event="del_case"
       style="color: #797979;font-size: 20px;padding:0 2px;vertical-align:middle;font-weight: lighter;">
    </a>

    <a class="fa fa-sign-in" lay-event="join"
       style="color: #5FB878;font-size: 20px;padding:0 2px;margin-top:1px;vertical-align:middle;font-weight: lighter;">
    </a>
</script>

</body>
</html>